.Container{
    margin-left: 150px;
    margin-right: 150px;
}

.PageContainer{
    margin-top: 100px;
    /* С учётом header'a, footer'a и breadcrumb'a*/
    min-height: calc(100dvh - 686px);
}


@media (max-width: 1024px) {
    .Container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 768px) {
    .Container {
        margin-left: 25px;
        margin-right: 25px;
    }
}
