:root {
    --background: #000000;
    --foreground: #c4d2e3;
    --text: #ffffff;
    --accent: #2d76f9;
    --background-linear: linear-gradient(180deg, #24252f, #242530);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: var(--background-linear) !important;
}

body {
    color: var(--text);
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* TODO: переделать media запросы */
@media (max-width: 1024px) {
    body {
        margin: 0 50px;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0 25px;
    }
}
