:root {
    --background: #20212C;
    --foreground: #c4d2e3;
    --text: #ffffff;
    --accent: #2d76f9;
    --accent-semi: #6b9fff;
    --accent-half: #2d74f97a;
    --background-linear: linear-gradient(180deg, #24252f, #242530);
    --breadcrumb: #9AA8BA;
    --breadcrumb-active: #9AA8BA;
    --button-bg: #313341;
    --shadow: #171b2c63;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: var(--background-linear) !important;
    font-weight: 400;
    letter-spacing: 0.5px;
}

body {
    color: var(--text);
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* TODO: стили для h заголовков */
h1{
    font-size: 48px;
}
h2{
    font-size: 24px;
}
h3{

}
h4{

}

/* TODO: переделать media запросы */
@media (max-width: 1024px) {
    h1{
        font-size: 21px;
    }
    h2{
        font-size: 12px;
    }
}