.Wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.Link{
    text-decoration: none;
    color: var(--text);
}

.Link:hover{
    color: var(--accent);
}