.Wrapper {
    background-color: transparent;
}
.Container{
    min-height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Logo {
    display: flex;
    color: white;
}
.Logo svg {
    height: 100%;
    width: 140px;
}
.Logo:hover {
    font-size: 24px;
    color: var(--accent);
}
.Links {
    display: flex;
    gap: 30px;
}

.Link {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.Link:hover {
    color: var(--accent);
}

.ToolBar {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.LangToggle {
    display: flex;
    flex-direction: row;
}
.LangToggle a {
    color: var(--text);
    text-decoration: none;
}

.LangToggle a:hover {
    color: var(--accent);
}

@media (max-width: 1024px) {
    .Links {
        display: none;
    }
    .Wrapper{
        background-color: var(--background) ;
    }
}

@media (max-width: 768px) {
    
}
