.Wrapper{
    position: relative;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    min-height: 140px;
}
.Label{
    position: absolute;
    top: -10px;
    left: 25px;
    background-color: #242530;
    padding: 0 10px;
    font-weight: 200;
}
.Textarea{
    background-color: transparent;
    border: none;
    /* width: 100%; */
    color: var(--text);
    padding: 5px 10px;
    width: 100%;
    min-height: 140px;
    max-height: 400px;
    font-size: 18px;
    resize: vertical;
    font-weight: 400;
    font-family: inherit;
    letter-spacing: inherit;
}

.Textarea:focus{
    outline: none;
}